
.pimba{
    display: flex;
.coso{
    width: 5px;
    height: 100px;
    background-color: rgb(40, 40, 207);
    display: inline-block;
}

.que {
    width: 300px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
}

}